body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #fff;
    color: #333;
}

.top-bar {
    background: #3e3f45;
    color: white;
    padding: 8px 20px;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
}

.navbar {
    background-color: white;
    padding: 15px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    border-bottom: 1px solid #ccc;
}

.logo {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
}

.nav-links {
    display: flex;
    flex-wrap: wrap;
    gap: 15px; /* spacing between links */
    align-items: center;
}

.nav-links a {
    text-decoration: none;
    color: black;
    font-size: 16px;
    padding: 8px 10px;
}

.contact-button {
    background-color: #f4511e;
    color: white;
    border-radius: 5px;
    font-weight: bold;
}


.login-button {
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    font-weight: bold;
    padding: 8px 10px;
}

.register-button {
    background-color: #28a745;
    color: white;
    border-radius: 5px;
    font-weight: bold;
    padding: 8px 10px;
}

.navbar nav a {
    margin: 0 10px;
    text-decoration: none;
    color: #333;
}

.navbar .button {
    background-color: #f4511e;
    color: white;
    padding: 8px 15px;
    border-radius: 4px;
}

.hero {
    background-color: #ff5c1f;
    color: white;
    padding: 40px 20px;
    text-align: center;
}

.hero-text h1 {
    font-size: 48px;
    margin-bottom: 10px;
}

.hero-text p {
    font-size: 18px;
}

.hero-images {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.badge {
    background: #1e3d58;
    color: white;
    padding: 5px 10px;
    border-radius: 20px;
    margin-bottom: 5px;
    display: inline-block;
}

.hero-images img {
    width: 200px;
    border-radius: 12px;
}

.whatsapp-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: #25D366;
    color: white;
    padding: 10px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    gap: 5px;
    font-weight: bold;
}
